{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.html",
            "options": { "parser": "lwc" }
        },
        {
            "files": "*.{cls,trigger}",
            "options": { "parser": "babel" }
        }
    ]
}
